.filter_toggle {
  color: #E4E4E4;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;  
}

.size {
  width: 87px;
  height: 87px;
  aspect-ratio: 1/1;
  border: 1px solid #E4E4E4;
  text-align: center;
}
.color {

}
.color span {
  display: block;
  width: 31px;
  height: 31px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid currentColor;
}
.color .milk {
  background-color: #d0caba;
}
.color .indigo {
  background-color: #2a3d5e;
}
.color .steel {
  background-color: #c2bbb5;
}

.filter_toggle__active,
.filter_toggle:hover {
  color: #000000;
  border-color: #000000;
}