
.main_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.page_main {
  padding-bottom: 120px;
}
.left_side,
.right_side {
  display: flex;
  min-width: 50%;
  column-gap: 40px;
}
.left_side {
  background-image: url("../../assets/images/about-img.webp");
  background-position: center;
  background-size: cover;
}
.left_side__stickyBG {
  position: sticky;
  top: 0;
  height: 100vh;

}
.right_side {
  padding: 125px var(--container-padding-x) 120px;
  flex-direction: column;
}
.grid_col {
  flex-grow: 1;
}
.left_side .grid_col:nth-child(1) {
  min-width: 223px;
  width: 223px;
  max-width: 223px;
}
.left_side .grid_col:nth-child(2) {
  width: 397px;
}
.right_side .grid_col:nth-child(1) {
  width: 310px;
  max-width: 310px;
}
.right_side .grid_col:nth-child(2),
.right_side .grid_col:nth-child(3) {
  width: 135px;
}

.page_title {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-transform: uppercase;
}
.page_paragraph:first-of-type {
  margin-top: 30px;
}
.page_paragraph {
  margin-top: 23px;
  color: var(--secondary-font-color);
}
.page_paragraph span {
  color: #000000;
}
