.main_container {
  margin-top: 125px;
  padding: 0 var(--container-padding-x);
}
.contacts_first_col {
  grid-column: 4/9;
}
.contacts_wrap {
  margin-top: 65px;
}
.page_title {
  margin-bottom: 20px;
  font-family: var(--font-steppe);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.page_paragraph,
.contacts_link {
  display: block;
  color: var(--secondary-font-color);
  font-family: var(--font-steppe);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}

.form_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}