.main_container {
  margin-top: 125px;
  padding: 0 var(--container-padding-x) 50px;
}
.contacts_first_col {
  grid-column: 4/9;
}
.contacts_wrap {
  margin-top: 65px;
}
.page_title {
  margin-bottom: 20px;
  font-family: var(--font-steppe);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
}
.page_paragraph,
.contacts_link {
  display: block;
  color: var(--secondary-font-color);
  font-family: var(--font-steppe);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  transition: color 0.2s;
}
.contacts_link:hover {
  color: #000000;
  transition: color 0.2s;
}
.grid_col_lg {
  grid-column: span 6;
}
.form_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media (max-width:1400px) {
  .contacts_first_col {
    grid-column: 5/11;
  }
  .grid_col_lg {
    grid-column: 13/22;
  }
}
@media (max-width:950px) {
  .contacts_first_col {
    grid-column: 1/9;
  }
  .grid_col_lg {
    grid-column: 10/-1;
  }
}
@media (max-width:767px) {
  .contacts_first_col {
    grid-column: 1/-1;
  }
  .grid_col_lg {
    margin-top: 100px;
    grid-column: 1/-1;
  }
  .contacts_wrap:first-child {
    margin-top: 33px;
  }
  .main_container {
    margin-top: 125px;
    padding: 0 var(--container-padding-x) 90px;
  }
}