.dimensions {
  display: flex;
  width: max-content;
  gap: 8px;
  align-items: baseline;
}

.size {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;  
}

.dimensions__L {
  margin-left: 20px;
}
.dimensions__L .size {
  color: var(--secondary-menu-font-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.dimensions .size_actual {
  font-size: 10px;
  text-decoration: underline;
  color: #000000;
}
.dimensions__L .size_actual{
  font-size: 20px;
  text-decoration: none;
  width: 40px;
  color: #000000;
}
