.cart {
  position: relative;
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
}
.cart svg {
  fill: #ffffff;
  stroke: #ffffff;
}
.cart__active.cart svg {
  fill: #000000;
  stroke: #000000;
}
.cart__active.cart:hover svg {
  fill: #000000;
  stroke: #000000;
}

.cart_count {
  position: absolute;
  top: 36%;
  left: 35%;
  color: #ffffff;
  font-family: var(--font-steppe);
  font-size: 7px;
  font-weight: 400;
  line-height: 8.4px;
  text-align: center;
  filter: invert(1)
}
.cart__active .cart_count {
  color: #ffffff;
  filter: invert(0);
}
.cart:hover .cart_count {
  color: #ffffff;
}


/* .cart__empty . */
.cart__empty .cart_count {
  display: none!important;
}
.cart__empty.cart svg {
  fill: none;
  stroke: #ffffff;
}
.cart__empty.cart__active svg {
  fill: none;
  stroke: #000000;
}

