
.mini_gallery {
  position: sticky;
  top: calc(100vh - 340px);
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mini_gallery__frame {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 49px;
  height: 72px;
  background-color: transparent;
  border: 1px solid #000000;
  z-index: 1;
  transform: translateY(0);
  transition: all 0.6s;
  
}
.mini_gallery__frame__s1 {
  transform: translateY(80px);
}
.mini_gallery__frame__s2 {
  transform: translateY(160px);
}
.mini_gallery__frame__s3 {
  transform: translateY(240px);
}
.mini_gallery_btn {
  width: 47px;
  height: 70px;
  overflow: hidden;
  z-index: 2;
}
.mini_gallery_btn__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width:767px) {
  .mini_gallery_container {
    position: static;
    order: 0;
  }
  .mini_gallery_btns {
    display: none;
  }
  .mini_gallery_container {
    margin-top: 22px;
    padding-right: 0;
  }
  .mini_gallery {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .mini_gallery__frame {
    display: none;
  }
  .mini_gallery_btn {
    width: 75px;
    height: 110px;
  }
}
