.breadcrumb {
  position: fixed;
  top: 120px;
  width: 100%;
  padding: 0;

  /* background: inherit; */
  mix-blend-mode: difference;
  z-index: 2;
}
.breadcrumb_full {
  padding: 0 var(--container-padding-x);

}
.main_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  mix-blend-mode: difference;
}

.breadcrumb_col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.breadcrumb_title {
  padding-bottom: 2px;
  color: #181818;
  mix-blend-mode: difference;
  filter: invert(1) grayscale(1);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media (max-width:1400px){
  .breadcrumb_col {
    grid-column: span 4;
  }
  .breadcrumb_title {
    padding-bottom: 0;
  }
}
@media (max-width:950px){
  .breadcrumb_col:nth-child(1) {
    display: none;
  }
}
@media (max-width:767px){
  .breadcrumb {
    top: 100px;
  }
}