:root {
  --main-font-color: #000000;
  --secondary-font-color: #AAAAAA;
  --secondary-menu-font-color: #7A7A7A;
  --button-font-color: #1BCA4C;
  --container-padding-x: 40px;
  --main-header-height: 70px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* min-height: 100vh; */
}

body,
input,
button {
  font-family: var(--font-lack);
  /* color: var(--text-clr); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  text-align: start;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
}
main {
  margin-top: var(--main-header-height);
  min-height: calc(100vh - var(--main-header-height) - 256px);
}