.image_block {
  position: relative;
  width: 100%;
  height: 877px;
  background-image: url("../assets/images/main-bg-1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-snap-align: start;
}
.block_title_wrap {
  padding: 0 var(--container-padding-x);
  position: sticky;
  top: 63px;
  left: 0;
  width: 100%;
}
.image_block_title {
  display: none;
  padding:60px 0;
  grid-column: 4/9;
  mix-blend-mode: difference;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

}
.image_block__links {
  display: flex;
  width: 100%;
  position: sticky;
  top: 40%;
  justify-content: space-between;
}
.image_block__hoodie {
  background-image: url("../assets/images/main-bg-2.webp");
}
.image_block__philosophy {
  background-image: url("../assets/images/main-bg-3.webp");
}
.image_block__bomber {
  background-image: url("../assets/images/main-bg-4.webp");
}
.image_block__tshirt {
  background-image: url("../assets/images/main-bg-5.webp");
}
.image_block__tailoring {
  background-image: url("../assets/images/main-bg-6.webp");
}
.image_block_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_block__link {
  bottom: 30px;
  padding: 50px 40px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.1px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:1400px){
  .image_block {
    width: 100%;
    height: 60vw;
  }
  .image_block_title {
    grid-column: 5/13;
  }
}
@media (max-width:1024px){
  .image_block__links {
    position: static;
    height: 100%;
    align-items: center;
  }
}
@media (max-width:950px){
  .image_block_title {
    display: block;
    mix-blend-mode: normal;
    padding:40px 0;
    grid-column: 1/6;
  }
  .block_title_wrap {
    position: absolute;
  }
}
@media (max-width:767px){
  .image_block {
    height: 738px;
    background-image: url("../assets/images/main-bg-1-mob.webp");
  }
  .image_block__hoodie {
    background-image: url("../assets/images/main-bg-2-mob.webp");
  }
  .image_block__philosophy {
    background-image: url("../assets/images/main-bg-3-mob.webp");
  }
  .image_block__bomber {
    background-image: url("../assets/images/main-bg-4-mob.webp");
  }
  .image_block__tshirt {
    background-image: url("../assets/images/main-bg-5-mob.webp");
  }
  .image_block__tailoring {
    background-image: url("../assets/images/main-bg-6-mob.webp");
  }

}