.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--main-header-height);
  mix-blend-mode: difference;
  z-index: 3;
}
.header__active{
  background-color: #ffffff;
  height: max-content;
  mix-blend-mode: normal;
}
.main_grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left_side,
.right_side {
  min-width: 50%;
}
.right_side {
  padding-left: 40px;
}
.header__nav {
  width: 100%;
  padding: 49px var(--container-padding-x) 0 var(--container-padding-x);
  background-color: transparent;
}
.main_menu {
  width: 100%;
  display: flex;
  column-gap: 40px;
}
.main_menu__item {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
.secondary_menu .main_menu__item {
  color: var(--secondary-font-color);
}
.left_side .main_menu__item:nth-child(1) {
  min-width: 223px;
  width: 223px;
  max-width: 223px;
}

.left_side .main_menu__item:nth-child(2) {
  width: 397px;
}
.right_side .main_menu__item:nth-child(1) {
  width: 310px;
}
.right_side .main_menu__item:nth-child(2) {
  width: 135px;
}
.right_side .main_menu__item:nth-child(3) {
  width: 135px;
  display: flex;
  justify-content: space-between; 
}
.main_menu__link {
  filter: invert(1) grayscale(1);
  color: #000000;
  height: max-content;
}
.header__active .main_menu__link{
  color: #000000;
  filter: none;
}
.header__active .secondary_menu{
  display: flex;
}
.secondary_menu {
  margin-top: 36px;
  margin-bottom: 93px;
  column-gap: 40px;
  display: none;
}
.main_submenu {
  display: flex;
}
.main_submenu__item {
  width: 45%;
}
.inner_submenu {
  margin-top: 14px;
  color: var(--main-font-color);
}
.inner_submenu__item {
  padding: 3px 3px 3px 0;
}
.inner_submenu__item a{
  display: inline-block;
  width: 80%;
}


@media ( min-width:1025px){
  .header:hover {
    background-color: #ffffff;
    height: max-content;
    mix-blend-mode: normal;
  }
  .header:hover .main_menu__link {
    color: #000000;
    filter: none;
  }
  .header__active .secondary_menu,
  .header:hover .secondary_menu {
    display: flex;
  }

}
@media (max-width:1200px){
  .left_side .main_menu__item:nth-child(1) {
    min-width: 160px;
    width: 160px;
    max-width: 160px;
  }
  .right_side .main_menu__item:nth-child(1) {
    width: 170px;
  }

}

@media (max-width:900px){
  .header {
    height: auto;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width:760px){
  .header__active{
    background-color: #4646463d;
    height: 100vh;
  }
}
