
.filters {
  margin-top: 50px;
  width: min(100%, 740px);
  height: 80vh;
  overflow: scroll;
  scrollbar-width: none;
}

.filtersClose {
  display: none;
}

.filters_list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}


.send_filters {
  position: absolute;
  bottom: 48px;
  display: none;
  padding: 18px;
  width: 80%;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:767px) {
  .send_filters {
    display: block;
  }
}