.footer {
  padding: 30px var(--container-padding-x) 30px var(--container-padding-x);
  background-color: #ffffff;
  min-height: 256px;
  border-top: 1px solid #E4E4E4;
}

.footer_container {
  /* display: flex; */
}
.footer_bottom {
  margin-top: 65px;
  /* display: flex;
  justify-content: space-between;
  gap: 40px; */
}

.footer_col {
  /* flex-grow: 1; */
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.footer_logo {
  text-transform: uppercase;
}
.main_footer__link {
  color: #000000;
}
.footer_list {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.secondary_footer__link {
  color: var(--secondary-menu-font-color);
}

@media (max-width:1700px) {

}
@media (max-width:1430px) {

}
@media (max-width:1200px) {

}
@media (max-width:990px) {

}
@media (max-width:690px) {
  
}